name: Validate markdown

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install markdownlint
        run: npm install -g markdownlint-cli2
      - name: Run markdownlint
        run: markdownlint-cli2 --config .markdownlint-cli2.cjs
